
<h2>Welcome to <i>the onion?</i></h2>
<h6>You will be given a list of 10 headlines, guess whether the article came from The Onion or Reddit's /r/nottheonion</h6>
<button id='start'>Start</button>
<script src="home.js"> </script>