
<h2>Welcome to <i>the onion?</i></h2>
<h3>You will be given a list of headlines, guess whether the article came from The Onion or Reddit's /r/nottheonion</h3>
<button id='start'>Start</button>
<script src="home.js"> </script>