<div class="container"><h4 >Read the headline and guess whether it's from The Onion or the subreddit '/r/nottheonion'. </h4>
 <h6>Click the button to toggle your choice and submit when you're finished. </h6>
<table>
<tr><th>Headline</th><th>Guess</th></tr>
	{{#each articles}}
	<tr id="{{id}}">
		<td>{{headline}}</td>
		<td><button class='pick btn' id='{{id}}' >Pick</button></td>
	</tr>
	{{/each}}
</table>
<button disabled class='btn' id='submit'>Submit</button>

<br />
<br />
<br />
<br /> 
</div>
<script src='play.js'></script>