<h2>Read the headline and guess whether it's from The Onion or the subreddit '/r/nottheonion'. </h2>
 <h2>Click the button to toggle your choice and submit when you're finished. </h2>
<table>
<tr><th>Your Guess</th><th>Headline</th></tr>
	{{#each articles}}
	<tr id="{{id}}">

		<td><button class='pick' id='{{id}}' >Pick</button></td>
		<td>{{headline}}</td>
	</tr>
	{{/each}}
</table>
<button disabled id='submit'>Submit</button>

<script src='play.js'></script>